n8n_workflow.json
{
    "name": "AcademicChain Backend API (Production)",
    "nodes": [
        {
            "parameters": {
                "path": "submit-document",
                "responseMode": "responseNode",
                "options": {
                    "httpMethod": "POST"
                }
            },
            "name": "Webhook Submit",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "webhook-submit",
            "webhookId": "submit-document"
        },
        {
            "parameters": {
                "collection": "credentials",
                "operation": "insert",
                "options": {}
            },
            "name": "Save to MongoDB",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                250,
                0
            ],
            "id": "mongo-insert",
            "credentials": {
                "mongoDb": {
                    "id": "mongo-cred-id",
                    "name": "AcademicChain Mongo"
                }
            }
        },
        {
            "parameters": {
                "url": "https://testnet.mirrornode.hedera.com/api/v1/topics/0.0.123456/submit",
                "method": "POST",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeader",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "message",
                            "value": "={{ $json.documentHash }}"
                        }
                    ]
                }
            },
            "name": "Hedera Consensus (Testnet)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                500,
                0
            ],
            "id": "hedera-submit",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "hedera-auth",
                    "name": "Hedera Mirror Node"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n \"success\": true,\n \"step\": \"hedera_consensus\",\n \"txId\": \"{{ $json.transactionId }}\"\n}"
            },
            "name": "Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                750,
                0
            ],
            "id": "response"
        }
    ],
    "connections": {
        "Webhook Submit": {
            "main": [
                [
                    {
                        "node": "Save to MongoDB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to MongoDB": {
            "main": [
                [
                    {
                        "node": "Hedera Consensus (Testnet)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Hedera Consensus (Testnet)": {
            "main": [
                [
                    {
                        "node": "Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}