n8n/workflows/batch-issue.json
{
  "name": "Institution - Batch Credential Issuance",
  "nodes": [
    {
      "parameters": {         
        "httpMethod": "POST",
        "path": "batch-issue",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers[\"x-acl-auth-key\"]}}",
              "operation": "equal",
              "value2": "acl_live_sec_8f92a3b4"
            }
          ]
        }
      },
      "name": "Security Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Unauthorized\", \"message\": \"Invalid security token\"}",
        "options": {
          "responseCode": 401
        }
      },
      "name": "Reject Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "fieldToSplitOut": "credentials"
      },
      "name": "Split Credentials",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "jsCode": "// Build normalized credential document per item\nconst item = $json || {};\nconst nowIso = new Date().toISOString();\n\nconst makeDoc = (i = {}) => {\n  const tokenId = String(i.tokenId || ('0.0.' + (Math.floor(Math.random()*9000000)+1000000)));\n  const serialNumber = String(i.serialNumber || '1');\n  const universityId = i.universityId || null;\n  const studentAccountId = (i.studentAccountId === undefined) ? null : i.studentAccountId;\n  const ipfsURI = i.ipfsURI || 'ipfs://QmTest';\n  const uniqueHash = i.uniqueHash || `hash-${Date.now()}`;\n  const externalProofs = {\n    xrpTxHash: (i.externalProofs && i.externalProofs.xrpTxHash) || `mock-xrp-fallback-${Date.now()}`,\n    algoTxId: (i.externalProofs && i.externalProofs.algoTxId) || `mock-algo-${Date.now()}`\n  };\n  return {\n    tokenId,\n    serialNumber,\n    universityId,\n    studentAccountId,\n    uniqueHash,\n    ipfsURI,\n    externalProofs,\n    createdAt: nowIso,\n    updatedAt: nowIso,\n    __v: 0\n  };\n};\n\nreturn { json: makeDoc(item) };"
      },
      "name": "Build Credential Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [600, 0]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "issued_credentials",
        "options": {}
      },
      "name": "Save to Mongo",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [800, 0],
      "credentials": {
        "mongoDb": {
          "id": "mongo_cred",
          "name": "MongoDB Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "uniqueHash",
              "renameField": "hashes"
            },
            {
              "fieldToAggregate": "tokenId",
              "renameField": "tokenIds"
            }
          ]
        }
      },
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Batch processed successfully\",\n  \"count\": {{$json.hashes.length}},\n  \"hashes\": {{$json.hashes}},\n  \"tokenIds\": {{$json.tokenIds}}\n}",
        "options": {}
      },
      "name": "Respond to App",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Security Guard", "type": "main", "index": 0}]]
    },
    "Security Guard": {
      "main": [
        [{"node": "Split Credentials", "type": "main", "index": 0}],
        [{"node": "Reject Request", "type": "main", "index": 0}]
      ]
    },
    "Split Credentials": {
      "main": [[{"node": "Build Credential Docs", "type": "main", "index": 0}]]
    },
    "Build Credential Docs": {
      "main": [[{"node": "Save to Mongo", "type": "main", "index": 0}]]
    },
    "Save to Mongo": {
      "main": [[{"node": "Aggregate Results", "type": "main", "index": 0}]]
    },
    "Aggregate Results": {
      "main": [[{"node": "Respond to App", "type": "main", "index": 0}]]
    }
  }
}
