n8n/workflows/delete-credential.json
{
  "name": "Delete Credential (Mongo Remove)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "delete-credential",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers[\"x-acl-auth-key\"]}}",
              "operation": "equal",
              "value2": "={{$env.ACL_AUTH_KEY}}"
            }
          ]
        }
      },
      "name": "Security Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Unauthorized\", \"message\": \"Invalid security token\"}",
        "options": {
          "responseCode": 401
        }
      },
      "name": "Reject",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body || {}; return { json: { tokenId: String(b.tokenId || ''), serialNumber: String(b.serialNumber || '') } };"
      },
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "audit_events",
        "fields": {
          "fields": [
            { "name": "event", "value": "delete" },
            { "name": "tokenId", "value": "={{$json.tokenId}}" },
            { "name": "serialNumber", "value": "={{$json.serialNumber}}" },
            { "name": "timestamp", "value": "={{new Date().toISOString()}}" }
          ]
        }
      },
      "name": "Insert Audit",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [600, -120],
      "credentials": {
        "mongoDb": { "id": "mongo_cred", "name": "MongoDB Local" }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "issued_credentials",
        "query": "={ \"tokenId\": \"{{$json.tokenId}}\", \"serialNumber\": \"{{$json.serialNumber}}\" }"
      },
      "name": "Delete From Mongo",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [600, 40],
      "credentials": {
        "mongoDb": {
          "id": "mongo_cred",
          "name": "MongoDB Local"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": true, \"deleted\": true, \"tokenId\": \"={{$json.tokenId}}\", \"serialNumber\": \"={{$json.serialNumber}}\" }"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Security Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Guard": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ],
        [{"node": "Reject", "type": "main", "index": 0}]
      ]
    },
    "Normalize Input": {
      "main": [[{"node": "Insert Audit", "type": "main", "index": 0}], [{"node": "Delete From Mongo", "type": "main", "index": 0}]]
    },
    "Insert Audit": { "main": [[{"node": "Delete From Mongo", "type": "main", "index": 0}]] },
    "Delete From Mongo": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
