n8n/workflows/issue-creator-credential.json
{
  "name": "API - Issue Creator Credential",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "issue-creator-credential",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-acl-auth-key']}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "jsCode": "// Generate Hash and Metadata\nconst crypto = require('crypto');\nconst data = $input.item.json.body;\n\nreturn {\n  ...data,\n  txId: '0.0.' + Math.floor(Math.random() * 100000) + '@' + Date.now(),\n  status: 'issued',\n  issuedAt: new Date().toISOString()\n};"
      },
      "name": "Mint Logic (Stub)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "issued_credentials",
        "options": {}
      },
      "name": "Save to Mongo",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [600, 0],
      "credentials": {
        "mongoDb": {
          "id": "mongo_cred",
          "name": "MongoDB Local"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"data\": {{$json}}\n}",
        "options": {}
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Auth Check", "type": "main", "index": 0}]]
    },
    "Auth Check": {
      "main": [
        [{"node": "Mint Logic (Stub)", "type": "main", "index": 0}]
      ]
    },
    "Mint Logic (Stub)": {
      "main": [[{"node": "Save to Mongo", "type": "main", "index": 0}]]
    },
    "Save to Mongo": {
      "main": [[{"node": "Respond Success", "type": "main", "index": 0}]]
    }
  }
}