n8n/workflows/n8n_support_bot.json
{
    "name": "AcademicChain Master Assistant (MoBot) - Workflow Version",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "academic-chain-support",
                "options": {}
            },
            "name": "Chat Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "webhookId": "academic-chain-support"
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {
                    "systemMessage": "You are 'MoBot', the AcademicChain Master Assistant. Your purpose is to help users with ALL tasks related to the platform:\n\n1. **Credential Management**: Issuing, verifying, and managing credentials.\n2. **Certificate Design**: Helping design templates (JSON structures, CSS, Layouts).\n3. **Development**: Writing code (React, Node.js), debugging errors, and explaining technical concepts.\n4. **Support**: Answering questions about the platform, blockchain (Hedera, XRP, Algorand), and workflows.\n\n**Capabilities**:\n- You can generate JSON for certificate templates.\n- You can explain how the 'Triple Proof' (Hedera+XRP+Algorand) works.\n- You can help troubleshoot n8n workflows.\n- You are proactive, technical, and precise.\n\nIf the user asks to 'create everything' or 'emit con todo', guide them through the process or explain the steps required in the dashboard."
                }
            },
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1,
            "position": [
                250,
                0
            ],
            "id": "ai-agent"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json.output }}",
                "options": {}
            },
            "name": "Respond to Chat",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                0
            ]
        },
        {
            "parameters": {
                "collectionName": "academic_support_docs",
                "options": {}
            },
            "name": "MongoDB Vector Store",
            "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDB",
            "typeVersion": 1,
            "position": [
                250,
                250
            ],
            "id": "mongo-vector",
            "credentials": {
                "mongoDb": {
                    "id": "mongo_local",
                    "name": "MongoDB Local"
                }
            }
        }
    ],
    "connections": {
        "Chat Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Chat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MongoDB Vector Store": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    }
}