n8n/workflows/payment-workflows.json
{
  "name": "Payment Workflows",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-payment",
        "options": {}
      },
      "name": "Create Payment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"checkoutUrl\": \"https://nowpayments.io/payment/?iid=mock\",\n  \"invoiceId\": \"inv-{{ $json.body.amount }}\"\n}",
        "options": {}
      },
      "name": "Respond Create Payment",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verify-payment",
        "options": {}
      },
      "name": "Verify Payment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"valid\": true,\n  \"creditsGranted\": 1000\n}",
        "options": {}
      },
      "name": "Respond Verify Payment",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [200, 200]
    }
  ],
  "connections": {
    "Create Payment Webhook": {
      "main": [
        [
          {
            "node": "Respond Create Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Payment Webhook": {
      "main": [
        [
          {
            "node": "Respond Verify Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}