n8n/workflows/request-credential-verification.json
{
  "name": "Request Credential Verification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "request-credential-verification",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-acl-auth-key']}}",
              "operation": "equal",
              "value2": "={{$env.ACL_AUTH_KEY}}"
            }
          ]
        }
      },
      "name": "Security Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Unauthorized\", \"message\": \"Invalid security token\"}",
        "options": { "responseCode": 401 }
      },
      "name": "Reject",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body || {}; return { json: { tokenId: String(b.tokenId || ''), serialNumber: String(b.serialNumber || ''), role: String(b.role || 'unknown'), status: 'pending' } };"
      },
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "issued_credentials",
        "query": "={ \"tokenId\": \"{{$json.tokenId}}\", \"serialNumber\": \"{{$json.serialNumber}}\" }",
        "updateFields": {
          "fields": [
            { "name": "status", "value": "={{$json.status}}" },
            { "name": "updatedAt", "value": "={{new Date().toISOString()}}" },
            { "name": "verification.requestedBy", "value": "={{$json.role}}" },
            { "name": "verification.requestedAt", "value": "={{new Date().toISOString()}}" }
          ]
        },
        "options": { "upsert": false }
      },
      "name": "Set Pending in Mongo",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [600, 0],
      "credentials": {
        "mongoDb": {
          "id": "mongo_cred",
          "name": "MongoDB Local"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": true, \"updated\": true, \"tokenId\": \"={{$json.tokenId}}\", \"serialNumber\": \"={{$json.serialNumber}}\", \"status\": \"={{$json.status}}\" }"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Security Guard", "type": "main", "index": 0 }]] },
    "Security Guard": {
      "main": [
        [{ "node": "Normalize Input", "type": "main", "index": 0 }],
        [{ "node": "Reject", "type": "main", "index": 0 }]
      ]
    },
    "Normalize Input": { "main": [[{ "node": "Set Pending in Mongo", "type": "main", "index": 0 }]] },
    "Set Pending in Mongo": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  }
}
