n8n/workflows/revoke-credential.json
{
  "name": "Revoke Credential (On-chain + Mongo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "revoke-credential",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-acl-auth-key']}}",
              "operation": "equal",
              "value2": "={{$env.ACL_AUTH_KEY}}"
            }
          ]
        }
      },
      "name": "Security Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Unauthorized\", \"message\": \"Invalid security token\"}",
        "options": { "responseCode": 401 }
      },
      "name": "Reject",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body || {}; return { json: { tokenId: String(b.tokenId || ''), serialNumber: String(b.serialNumber || ''), reason: String(b.reason || 'Unspecified') } };"
      },
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "url": "={{$env.API_URL || 'https://api.academicchain.local'}}/api/v1/credentials/revoke",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-acl-auth-key", "value": "={{$env.ACL_AUTH_KEY || ''}}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"tokenId\": \"{{$json.tokenId}}\", \"serialNumber\": \"{{$json.serialNumber}}\", \"reason\": \"{{$json.reason}}\" }",
        "options": {}
      },
      "name": "Revoke On-Chain (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "issued_credentials",
        "query": "={ \"tokenId\": \"{{$json.tokenId}}\", \"serialNumber\": \"{{$json.serialNumber}}\" }",
        "updateFields": {
          "fields": [
            { "name": "status", "value": "revoked" },
            { "name": "revocation.reason", "value": "={{$json.reason}}" },
            { "name": "revocation.date", "value": "={{new Date().toISOString()}}" },
            { "name": "updatedAt", "value": "={{new Date().toISOString()}}" }
          ]
        }
      },
      "name": "Mark Revoked in Mongo",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [820, 60],
      "credentials": {
        "mongoDb": { "id": "mongo_cred", "name": "MongoDB Local" }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "audit_events",
        "fields": {
          "fields": [
            { "name": "event", "value": "revoke" },
            { "name": "tokenId", "value": "={{$json.tokenId}}" },
            { "name": "serialNumber", "value": "={{$json.serialNumber}}" },
            { "name": "reason", "value": "={{$json.reason}}" },
            { "name": "timestamp", "value": "={{new Date().toISOString()}}" }
          ]
        }
      },
      "name": "Insert Audit",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [820, -60],
      "credentials": { "mongoDb": { "id": "mongo_cred", "name": "MongoDB Local" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": true, \"revoked\": true, \"tokenId\": \"={{$json.tokenId}}\", \"serialNumber\": \"={{$json.serialNumber}}\", \"reason\": \"={{$json.reason}}\" }"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1040, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Security Guard", "type": "main", "index": 0 }]] },
    "Security Guard": {
      "main": [
        [{ "node": "Normalize Input", "type": "main", "index": 0 }],
        [{ "node": "Reject", "type": "main", "index": 0 }]
      ]
    },
    "Normalize Input": { "main": [[{ "node": "Revoke On-Chain (HTTP)", "type": "main", "index": 0 }]] },
    "Revoke On-Chain (HTTP)": { "main": [[{ "node": "Insert Audit", "type": "main", "index": 0 }, { "node": "Mark Revoked in Mongo", "type": "main", "index": 0 }]] },
    "Insert Audit": { "main": [[{ "node": "Mark Revoked in Mongo", "type": "main", "index": 0 }]] },
    "Mark Revoked in Mongo": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  }
}
