n8n/workflows/set-credential-status.json
{
  "name": "Set Credential Status (Mongo Update)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-credential-status",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers[\"x-acl-auth-key\"]}}",
              "operation": "equal",
              "value2": "={{$env.ACL_AUTH_KEY}}"
            }
          ]
        }
      },
      "name": "Security Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Unauthorized\", \"message\": \"Invalid security token\"}",
        "options": { "responseCode": 401 }
      },
      "name": "Reject",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body || {}; const status = String(b.status || 'verified'); return { json: { tokenId: String(b.tokenId || ''), serialNumber: String(b.serialNumber || ''), status } };"
      },
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "issued_credentials",
        "query": "={ \"tokenId\": \"{{$json.tokenId}}\", \"serialNumber\": \"{{$json.serialNumber}}\" }",
        "updateFields": {
          "fields": [
            { "name": "status", "value": "={{$json.status}}" },
            { "name": "updatedAt", "value": "={{new Date().toISOString()}}" }
          ]
        }
      },
      "name": "Update Status in Mongo",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [600, 0],
      "credentials": {
        "mongoDb": {
          "id": "mongo_cred",
          "name": "MongoDB Local"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": true, \"updated\": true, \"tokenId\": \"={{$json.tokenId}}\", \"serialNumber\": \"={{$json.serialNumber}}\", \"status\": \"={{$json.status}}\" }",
        "options": {}
      },
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 0]
    },
    {
      "parameters": {
        "jsCode": "return { json: { success: false, message: 'Unauthorized or bad input' } };"
      },
      "name": "Fallback Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Security Guard", "type": "main", "index": 0}]]
    },
    "Security Guard": {
      "main": [
        [{"node": "Normalize Input", "type": "main", "index": 0}],
        [{"node": "Reject", "type": "main", "index": 0}]
      ]
    },
    "Normalize Input": {
      "main": [[{"node": "Update Status in Mongo", "type": "main", "index": 0}]]
    },
    "Update Status in Mongo": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    }
  }
}
