n8n/workflows/stats-credentials.json
{
  "name": "Stats - Credentials (Revoked & Deleted)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "stats-credentials",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-acl-auth-key']}}",
              "operation": "equal",
              "value2": "={{$env.ACL_AUTH_KEY}}"
            }
          ]
        }
      },
      "name": "Security Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Unauthorized\"}",
        "options": { "responseCode": 401 }
      },
      "name": "Reject",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "operation": "count",
        "collection": "issued_credentials",
        "query": "={ \"status\": \"revoked\" }"
      },
      "name": "Count Revoked",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [400, -60],
      "credentials": { "mongoDb": { "id": "mongo_cred", "name": "MongoDB Local" } }
    },
    {
      "parameters": {
        "operation": "count",
        "collection": "audit_events",
        "query": "={ \"event\": \"delete\" }"
      },
      "name": "Count Deleted",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [400, 40],
      "credentials": { "mongoDb": { "id": "mongo_cred", "name": "MongoDB Local" } }
    },
    {
      "parameters": {
        "operation": "count",
        "collection": "issued_credentials",
        "query": "={ \"status\": \"verified\" }"
      },
      "name": "Count Verified",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [400, 140],
      "credentials": { "mongoDb": { "id": "mongo_cred", "name": "MongoDB Local" } }
    },
    {
      "parameters": {
        "operation": "count",
        "collection": "issued_credentials",
        "query": "={ \"status\": \"pending\" }"
      },
      "name": "Count Pending",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [400, 240],
      "credentials": { "mongoDb": { "id": "mongo_cred", "name": "MongoDB Local" } }
    },
    {
      "parameters": {
        "jsCode": "const revoked = ($items('Count Revoked')[0]?.json?.count) || 0; const deleted = ($items('Count Deleted')[0]?.json?.count) || 0; const verified = ($items('Count Verified')[0]?.json?.count) || 0; const pending = ($items('Count Pending')[0]?.json?.count) || 0; return { json: { success: true, revoked, deleted, verified, pending } };"
      },
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [600, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Security Guard", "type": "main", "index": 0 }]] },
    "Security Guard": {
      "main": [
        [{ "node": "Count Revoked", "type": "main", "index": 0 }],
        [{ "node": "Reject", "type": "main", "index": 0 }]
      ]
    },
    "Count Revoked": { "main": [[{ "node": "Count Deleted", "type": "main", "index": 0 }]] },
    "Count Deleted": { "main": [[{ "node": "Count Verified", "type": "main", "index": 0 }]] },
    "Count Verified": { "main": [[{ "node": "Count Pending", "type": "main", "index": 0 }]] },
    "Count Pending": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  }
}
